@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Mulish:wght@400;600&display=swap');

$primary: #ffd951;
$secondary: #8263ff;
$right: #92b30e;
$logo_alt: #9c62ff;
$wrong: #ff5858;
$light_alt: #fffcdf;
$bg: #241e2f;
$bg_alt: #47327e;

$filter_yellow: invert(72%) sepia(68%) saturate(386%) hue-rotate(360deg) brightness(105%) contrast(101%);
$filter_viol-light: invert(35%) sepia(57%) saturate(1353%) hue-rotate(224deg) brightness(107%) contrast(101%);

$f_songbird: 'Dancing Script', cursive;
$f_standart: 'Mulish', sans-serif;

$size_big: 32px;
$size_mid: 24px;
$size_small: 16px;
