@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Mulish:ital,wght@0,400;0,700;1,400&display=swap');
@import '../assets/styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  font-family: $f_standart;
}
.logo-wrapper {
  position: absolute;
  top: 47%;
  left: 47%;
  transform: translate(-50%, -50%) scale(1.5);
  z-index: 8;
  display: flex;
  align-items: center;
  cursor: default;
  animation: logoMove 1.2s forwards;
  animation-delay: 1.2s;
  @media (max-width: 540px) {
    transform: translate(-50%, -50%) scale(1.2);
  }
  @media (max-width: 420px) {
    transform: translate(-50%, -50%) scale(1);
  }
  h2 {
    font-size: 80px;
    font-family: $f_songbird;
    position: relative;
    text-shadow: 1px 1px 5px black;
    @media (max-width: 800px) {
      font-size: 64px;
    }
  }
  h2:first-of-type {
    color: var(--primary);
    top: -30px;
  }
  h2:last-of-type {
    color: var(--secondary);
    top: 10px;
  }
  img {
    width: auto;
    height: 160px;
    position: relative;
    left: 20px;
    filter: drop-shadow(1px 1px 5px black);
    @media (max-width: 800px) {
      height: 120px;
      left: 14px;
    }
  }
}
@keyframes logoMove {
  from {
    top: 47%;
    left: 47%;
    transform: translate(-50%, -50%) scale(1.5);
  }
  to {
    top: 20px;
    left: 20px;
    transform: translate(0, 0) scale(0.8);
  }
}
@media (max-width: 540px) {
  @keyframes logoMove {
    from {
      top: 47%;
      left: 47%;
      transform: translate(-50%, -50%) scale(1.2);
    }
    to {
      top: 20px;
      left: 20px;
      transform: translate(0, 0) scale(0.8);
    }
  }
}
@media (max-width: 420px) {
  @keyframes logoMove {
    from {
      top: 47%;
      left: 47%;
      transform: translate(-50%, -50%) scale(1);
    }
    to {
      top: 20px;
      left: 10px;
      transform: translate(0, 0) scale(0.8);
    }
  }
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: minmax(calc(100vh / 6), calc(100vh / 8));
}
.image_wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  background: url('../assets/icons/bird-logo-viol.svg');
  background-size: 200% auto;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(6px) saturate(30%);
  transition: 0.4s;
  &::before {
    content: '';
  }
  &:hover {
    filter: blur(0px);
    transform: scale(1.1);
    background-size: cover;
    z-index: 5;
    border-radius: 50%;
    box-shadow: 0 0 30px var(--prim_alt);
    &::before {
      content: '?';
      display: block;

      position: relative;
      z-index: 7;
      right: -50%;
      top: -10%;
      font-size: 70px;
      font-weight: bold;
      color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: var(--primary);
      text-align: center;
    }
  }
}
a {
  text-decoration: none;
  color: var(--primary);
  transition: 0.3s;
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
    text-shadow: 0 0 5px var(--primary);
  }
  &:active {
    transform: scale(0.9);
  }
}
.invite {
  background: transparent;
  position: absolute;
  z-index: 8;
  border-radius: 10px;
  transform-origin: center;
  bottom: 0;
  transform: scale(0) translateX(-50%);
  transition: 0.5s;
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  gap: 10%;
  color: var(--primary);
  font-size: 34px;

  text-align: center;
  text-shadow: 1px 1px 5px black;

  animation: appear 2s forwards;

  @media (max-width: 800px) {
    flex-direction: column;
    gap: 40px;
  }
}

@keyframes appear {
  from {
    transform: scale(0) translateY(0);
  }
  to {
    transform: scale(1) translateY(-60%);
  }
}

.btn {
  border: 3px solid var(--primary);
  width: 360px;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 10px 10px 12px 10px;
  text-align: center;
  cursor: pointer;
}
