@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Mulish:wght@400;600&display=swap');

$primary: #ffd951;
$secondary: #a38cff;
$disabled: #47327e;
$correct: #92b30e;
$logo_alt: #9c62ff;
$wrong: #ff5858;
$light_alt: #fffcdf;
$bg: #241e2f;
$bg_alt: #47327e;
$bg_transparent: rgba(36, 30, 47, 0.6);

$filter_yellow: invert(72%) sepia(68%) saturate(386%) hue-rotate(360deg) brightness(105%) contrast(101%);
$filter_viol-light: invert(74%) sepia(31%) saturate(7268%) hue-rotate(211deg) brightness(99%) contrast(107%);
$filter_disabled: invert(23%) sepia(36%) saturate(1310%) hue-rotate(219deg) brightness(94%) contrast(99%);

$f_songbird: 'Dancing Script', cursive;
$f_standart: 'Mulish', sans-serif;

$size_big: 32px;
$size_mid: 24px;
$size_small: 16px;

@mixin btn($width, $height) {
  width: $width;
  height: $height;
  background-color: transparent;
  border: 3px solid $secondary;
  color: $secondary;
  text-align: center;
  padding: 8px;
  border-radius: 10px;
  font-family: $f_standart;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
  &:hover:not(.wrong):not(.correct) {
    border: 3px solid $primary;
    color: $primary;
  }
  &:active:not(.wrong):not(.correct) {
    border: 3px solid $primary;
    color: $primary;
    transform: scale(0.94);
  }
  &.wrong {
    border: 3px solid $wrong;
    color: $wrong;
  }
  &.correct {
    border: 3px solid $correct;
    color: $correct;
  }
}
@mixin withBg($url) {
  background-image: url($url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
